<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">User's Leave Record</h4>
                        <p class="card-category"> Display Leave Record By User</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <form [formGroup]="DisplayUser">
                                    <mat-form-field class="example-full-width">
                                        <mat-select formControlName="name" placeholder="Name"
                                            [(ngModel)]="selectedValue" (ngModelChange)="showUserRecord()">
                                            <mat-option *ngFor="let user of users" [value]="user.id">{{user.fullName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <button mat-raised-button type="show" class="btn btn-danger pull-left"
                                    (click)="showAllRecord()">SHOW ALL</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        Record ID
                                    </th>
                                    <th>
                                        Apply Date
                                    </th>
                                    <th>
                                        Leave Type
                                    </th>
                                    <!-- <th>
                                        Name
                                    </th> -->
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of userrecord; let num = index">
                                        <td>{{num+1}}.</td>
                                        <td>
                                            {{record.id}}
                                        </td>
                                        <td>
                                            {{record.applyDate| date:'yyyy-MMM-dd' }}
                                        </td>
                                        <td> 
                                            {{record.leaveType == 'AL'? 'Annual Leave' :record.leaveType == 'MC'? 'Medical Leave' : 'Invalid Code' }}
                                            ({{record.leaveType}})
                                        </td>
                                        <!-- <td>
                                            {{record.user.fullName}}
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>